* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#start-game {

}

#game {
  display: none;
  background-color: #DDD;
  height: 100vh;
  aspect-ratio: 1.2;
  position: relative;
}

#end-game {
  display: none;
}

#life {
  position: absolute;
  right: 0;

  display: flex;
}

.heart {
  width: 5vh;
}

.egg {
  height: 5vh;
  position: absolute;
}

#basket {
  width: 20vh;
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
}

#score {
  position: absolute;
  left: 0;
  top: 0;
  font-family: monospace;
  font-size: 2rem;
  padding: 0.5rem;
}
